@{
	ViewData["Title"] = "Pizze";
}

<div class="text-center">
	<h1 class="display-4">Menu</h1>
	<div class="container">
		<div class="row row-cols-3 gy-3">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Buster</h5>
						<p class="card-text">Increases fat by 1%</p>
					</div>
					<img src="~/img/buster.jfif" class="card-img-top" alt="pizza">
					<div class="card-text">$2</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Double D-Luxe</h5>
						<p class="card-text">Increases fat by 2%</p>
					</div>
					<img src="~/img/double.jfif" class="card-img-top" alt="pizza">
					<div class="card-text">$5/$6</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Full Rack</h5>
						<p class="card-text">Increases fat by 3%</p>
					</div>
					<img src="~/img/full.jfif" class="card-img-top" alt="pizza">
					<div class="card-text">$10/$12</div>
				</div>
			</div>
		</div>
	</div>
